/********************************************
	zickBase - Typography
	Typography for baseline grid	
	
	zickCSS.com	
********************************************/

// Note: This is a working prototype and is not 100% correct

/******************** Base ********************/
body {
	font-size: @baseFontSize;
	line-height: @baseLineHeight;
}

/******************** Headers ********************/
h1, .Heading--size1,
h2, .Heading--size2,
h3, .Heading--size3,
h4, .Heading--size4,
h5, .Heading--size5,
h6, .Heading--size6 {
	position: relative;
	top: auto;
	margin: 0;
	.margin-top(1);
	.margin-bottom(1);
	font-weight: normal;
}

/******************** Sizes ********************/

h1,
.Heading--size1 {
	font-size: @font-size-h1;
	.line-height-calculated(@font-size-h1);
	top: 4px;
}

h2,
.Heading--size2 {
	font-size: @font-size-h2;
	.line-height-calculated(@font-size-h2);
	top: 3px;
}

h3,
.Heading--size3 {
	font-size: @font-size-h3;
	.line-height-calculated(@font-size-h3);
	top: 3px;
}

h4,
.Heading--size4 {
	font-size: @font-size-h4;
	.line-height-calculated(@font-size-h4);
	top: 3px;
}

h5,
.Heading--size5 {
	font-size: @font-size-h5;
	.line-height-calculated(@font-size-h5);
	top: 5px;
}

h6,
.Heading--size6 {
	font-size: @font-size-h6;
	.line-height-calculated(@font-size-h6);
	top: 6px;
}