@baseline: 6px; // the baseline unit
@baselineOffset: 3px; // default offset for 14/24px font-size/line-height
//@baselineOffset: 6px; // default offset for 14/24px font-size/line-height

// If bootstrap is used we want to override bootstrap's variables
@baseFontSize:			14px; 
@baseLineHeight:		24px; // 24px

@font-size-h1: @baseline * 6;
@font-size-h2: @baseline * 5;
@font-size-h3: @baseline * 4;
@font-size-h4: @baseline * 3;
@font-size-h5: @baseFontSize + 2;
@font-size-h6: @baseFontSize;