/********************************************
	zickBase - base
	Aligning elements to vertical baseline
	
	zickCSS.com	
********************************************/

html, body {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

/******************** Common objects ********************/
p,
pre,
address,
blockquote,
ul,
ol,
dl,
dialog,
time {
	position: relative;
	top: @baselineOffset;
	font-size: inherit; // do we really want to set this here?
	line-height: inherit;
	margin: 0;
	.margin-bottom(2);
}

small {
	font-size: @baseFontSize - 2;
}

abbr, code, kbd,
samp, small, var {
	line-height: @baseLineHeight;
}

li ul,
li ol,
ul ul,
ol ol {
	top: 0;
	margin-top: 0;
	margin-bottom: 0;
}

li {
	h1, .h1,
	h2, .h2,
	h3, .h3,
	h4, .h4,
	h5, .h5,
	h6, .h6,
	p {
		top: 0;
	}
}

form,
legend,
label {
	font-size: @baseFontSize;
	line-height: @baseLineHeight;
}

legend {
	position: relative;
	top: @baselineOffset;
}

table {
	font-size: @baseFontSize;
}

caption {
	position: relative;
	font-size: @baseFontSize;
	line-height: @baseLineHeight;
}

hr {
	position: relative;
	height: @baseline / 2;
	margin: (@baseline * 2) - ((@baseline / 2) / 2) 0;
	display: none;
}